{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "DigesettMiddleware": "Server=TU_SERVIDOR\\SQLEXPRESS;Database=DigesettMiddleware;Trusted_Connection=True;TrustServerCertificate=True;"
  }
}