USE [master]
GO
/****** Object:  Database [DIGESETT_DB]    Script Date: 7/10/2026 12:08:32 PM ******/
CREATE DATABASE [DIGESETT_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DIGESETT_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DIGESETT_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DIGESETT_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DIGESETT_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DIGESETT_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DIGESETT_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/10/2026 12:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Actas]    Script Date: 7/10/2026 12:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actas](
	[Id] [uniqueidentifier] NOT NULL,
	[ConductorId] [uniqueidentifier] NULL,
	[TipoInfraccionId] [int] NOT NULL,
	[AgenteId] [uniqueidentifier] NOT NULL,
	[Placa] [nvarchar](max) NULL,
	[Estado] [nvarchar](max) NOT NULL,
	[MontoBase] [decimal](18, 2) NOT NULL,
	[MontoRecargo] [decimal](18, 2) NOT NULL,
	[FechaHecho] [datetime2](7) NOT NULL,
	[FechaEmision] [datetime2](7) NOT NULL,
	[FechaLimitePago] [datetime2](7) NOT NULL,
	[Reincidente] [bit] NOT NULL,
	[UrlEvidencia] [nvarchar](max) NULL,
	[IdentificacionPendiente] [bit] NOT NULL,
 CONSTRAINT [PK_Actas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Canodromos]    Script Date: 7/10/2026 12:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canodromos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActaId] [uniqueidentifier] NOT NULL,
	[Placa] [nvarchar](max) NOT NULL,
	[FechaIngreso] [datetime2](7) NOT NULL,
	[FechaSalida] [datetime2](7) NULL,
	[DiasCobrados] [int] NOT NULL,
	[CostoTotal] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](max) NOT NULL,
	[AdminIngresoId] [uniqueidentifier] NOT NULL,
	[AdminSalidaId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Canodromos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conductores]    Script Date: 7/10/2026 12:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conductores](
	[Id] [uniqueidentifier] NOT NULL,
	[Cedula] [nvarchar](max) NULL,
	[NombreCompleto] [nvarchar](max) NOT NULL,
	[FechaNacimiento] [datetime2](7) NULL,
	[Telefono] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[IdentificacionPendiente] [bit] NOT NULL,
 CONSTRAINT [PK_Conductores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impugnaciones]    Script Date: 7/10/2026 12:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impugnaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActaId] [uniqueidentifier] NOT NULL,
	[FechaSolicitud] [datetime2](7) NOT NULL,
	[FechaLimite] [datetime2](7) NOT NULL,
	[Estado] [nvarchar](max) NOT NULL,
	[TipoResolucion] [nvarchar](max) NULL,
	[MontoNuevo] [decimal](18, 2) NULL,
	[FiscalId] [uniqueidentifier] NULL,
	[FechaResolucion] [datetime2](7) NULL,
	[MotivoCiudadano] [nvarchar](max) NULL,
 CONSTRAINT [PK_Impugnaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagos]    Script Date: 7/10/2026 12:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagos](
	[Id] [uniqueidentifier] NOT NULL,
	[ActaId] [uniqueidentifier] NOT NULL,
	[Canal] [nvarchar](max) NOT NULL,
	[NumeroTransaccion] [nvarchar](max) NOT NULL,
	[MontoMulta] [decimal](18, 2) NOT NULL,
	[MontoRecargo] [decimal](18, 2) NOT NULL,
	[MontoEstadia] [decimal](18, 2) NOT NULL,
	[MontoTotal] [decimal](18, 2) NOT NULL,
	[FechaPago] [datetime2](7) NOT NULL,
	[CajeroId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Pagos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposInfraccion]    Script Date: 7/10/2026 12:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposInfraccion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Categoria] [nvarchar](max) NOT NULL,
	[MontoParticular] [decimal](18, 2) NOT NULL,
	[MontoMotocicleta] [decimal](18, 2) NOT NULL,
	[MontoCarga] [decimal](18, 2) NOT NULL,
	[RequiereRetencion] [bit] NOT NULL,
 CONSTRAINT [PK_TiposInfraccion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 7/10/2026 12:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Rol] [nvarchar](max) NOT NULL,
	[Estado] [nvarchar](max) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260703042338_InitialCreate', N'8.0.0')
GO
INSERT [dbo].[Conductores] ([Id], [Cedula], [NombreCompleto], [FechaNacimiento], [Telefono], [Email], [IdentificacionPendiente]) VALUES (N'fefff8b3-23f0-470c-b0d8-5eab4a1ef66b', N'00112345678', N'Pedro Martinez', NULL, N'8095551234', N'pedro@test.com', 0)
GO
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Email], [PasswordHash], [Rol], [Estado], [FechaCreacion]) VALUES (N'e00247f3-a546-4248-9ea9-bf4a8597a74a', N'Usuario Prueba', N'usuario@test.com', N'123456', N'ADMIN', N'ACTIVO', CAST(N'2026-07-09T10:00:00.0000000' AS DateTime2))
GO
/****** Object:  Index [IX_Actas_AgenteId]    Script Date: 7/10/2026 12:08:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Actas_AgenteId] ON [dbo].[Actas]
(
	[AgenteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Actas_ConductorId]    Script Date: 7/10/2026 12:08:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Actas_ConductorId] ON [dbo].[Actas]
(
	[ConductorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Actas_TipoInfraccionId]    Script Date: 7/10/2026 12:08:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Actas_TipoInfraccionId] ON [dbo].[Actas]
(
	[TipoInfraccionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Canodromos_ActaId]    Script Date: 7/10/2026 12:08:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Canodromos_ActaId] ON [dbo].[Canodromos]
(
	[ActaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Canodromos_AdminIngresoId]    Script Date: 7/10/2026 12:08:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Canodromos_AdminIngresoId] ON [dbo].[Canodromos]
(
	[AdminIngresoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Canodromos_AdminSalidaId]    Script Date: 7/10/2026 12:08:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Canodromos_AdminSalidaId] ON [dbo].[Canodromos]
(
	[AdminSalidaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Impugnaciones_ActaId]    Script Date: 7/10/2026 12:08:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Impugnaciones_ActaId] ON [dbo].[Impugnaciones]
(
	[ActaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Impugnaciones_FiscalId]    Script Date: 7/10/2026 12:08:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Impugnaciones_FiscalId] ON [dbo].[Impugnaciones]
(
	[FiscalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pagos_ActaId]    Script Date: 7/10/2026 12:08:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Pagos_ActaId] ON [dbo].[Pagos]
(
	[ActaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pagos_CajeroId]    Script Date: 7/10/2026 12:08:33 PM ******/
CREATE NONCLUSTERED INDEX [IX_Pagos_CajeroId] ON [dbo].[Pagos]
(
	[CajeroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Actas]  WITH CHECK ADD  CONSTRAINT [FK_Actas_Conductores_ConductorId] FOREIGN KEY([ConductorId])
REFERENCES [dbo].[Conductores] ([Id])
GO
ALTER TABLE [dbo].[Actas] CHECK CONSTRAINT [FK_Actas_Conductores_ConductorId]
GO
ALTER TABLE [dbo].[Actas]  WITH CHECK ADD  CONSTRAINT [FK_Actas_TiposInfraccion_TipoInfraccionId] FOREIGN KEY([TipoInfraccionId])
REFERENCES [dbo].[TiposInfraccion] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Actas] CHECK CONSTRAINT [FK_Actas_TiposInfraccion_TipoInfraccionId]
GO
ALTER TABLE [dbo].[Actas]  WITH CHECK ADD  CONSTRAINT [FK_Actas_Usuarios_AgenteId] FOREIGN KEY([AgenteId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Actas] CHECK CONSTRAINT [FK_Actas_Usuarios_AgenteId]
GO
ALTER TABLE [dbo].[Canodromos]  WITH CHECK ADD  CONSTRAINT [FK_Canodromos_Actas_ActaId] FOREIGN KEY([ActaId])
REFERENCES [dbo].[Actas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Canodromos] CHECK CONSTRAINT [FK_Canodromos_Actas_ActaId]
GO
ALTER TABLE [dbo].[Canodromos]  WITH CHECK ADD  CONSTRAINT [FK_Canodromos_Usuarios_AdminIngresoId] FOREIGN KEY([AdminIngresoId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Canodromos] CHECK CONSTRAINT [FK_Canodromos_Usuarios_AdminIngresoId]
GO
ALTER TABLE [dbo].[Canodromos]  WITH CHECK ADD  CONSTRAINT [FK_Canodromos_Usuarios_AdminSalidaId] FOREIGN KEY([AdminSalidaId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Canodromos] CHECK CONSTRAINT [FK_Canodromos_Usuarios_AdminSalidaId]
GO
ALTER TABLE [dbo].[Impugnaciones]  WITH CHECK ADD  CONSTRAINT [FK_Impugnaciones_Actas_ActaId] FOREIGN KEY([ActaId])
REFERENCES [dbo].[Actas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Impugnaciones] CHECK CONSTRAINT [FK_Impugnaciones_Actas_ActaId]
GO
ALTER TABLE [dbo].[Impugnaciones]  WITH CHECK ADD  CONSTRAINT [FK_Impugnaciones_Usuarios_FiscalId] FOREIGN KEY([FiscalId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Impugnaciones] CHECK CONSTRAINT [FK_Impugnaciones_Usuarios_FiscalId]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Actas_ActaId] FOREIGN KEY([ActaId])
REFERENCES [dbo].[Actas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Actas_ActaId]
GO
ALTER TABLE [dbo].[Pagos]  WITH CHECK ADD  CONSTRAINT [FK_Pagos_Usuarios_CajeroId] FOREIGN KEY([CajeroId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Pagos] CHECK CONSTRAINT [FK_Pagos_Usuarios_CajeroId]
GO
USE [master]
GO
